body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #faf7ff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.navbar h2 {
  color: #7c3aed;
}

.navbar button {
  margin-left: 20px;
  border: none;
  background: none;
  cursor: pointer;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(135deg, #ede9fe, #ddd6fe);
}

.hero h1 {
  font-size: 36px;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: #7c3aed;
  color: white;
  border: none;
  border-radius: 8px;
}

/* PRODUCTS */
.products {
  padding: 40px;
  text-align: center;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 15px;
  width: 200px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}